/* /////////////////////// Generic Styling /////////////////////// */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

img {
    width: 100%;
}

.app-container {
    background-color: #F4F7FD;
    height: 100vh + 10px;
}

button {
    cursor: pointer;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

/* /////////////////////////////////////////////////////////////////// */
/* ////////////////////// Header styling ///////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */

.header-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    background-color: white;
    padding: 13px;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.header-inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* //// Header Dropdown menu styling //// */

.dropdown-menu:hover {
    cursor: pointer;
}

.dropdown-menu-text {
    font-size: 18px;
    font-weight: 700;
    margin-right: 5px;
    margin-left: 15px;
}

.mobile-svg-logo {
    width: 24px;
}

.dropdown-menu-arrow {
    width: 8px;
}

.dropdown-menu-inner-container-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-modal {
    display: flex;
    justify-content: center;
}

.menu-modal-content {
    width: 264px;
    height: fit-content;
    background-color: white;
    position: fixed;
    z-index: 1000;
    top: 80px;
    border-radius: 8px;
}

.menu-modal-page-cover {
    background-color: black;
    width: 100%;
    z-index: 999;
    position: fixed;
    opacity: .5;
    overflow:auto;
    height: 100vh;
}

.menu-modal-options-container {
    padding-right: 20px;
}

.menu-modal-option {
    width: 240px;
    height: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
    color: #828FA3
}

.menu-modal-option:hover {
    cursor: pointer;
    background-color: rgba(99, 95, 199, .1);
    color: #635FC7;
}

.current-board {
    color: white !important;
    background-color: #635FC7 !important; 
}

.menu-modal-create-board {
    width: 240px;
    height: 48px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
    color: #635FC7
}

.menu-modal-create-board svg {
    margin-left: 20px;
    margin-right: 10px;
}

.menu-modal-create-board:hover {
    cursor: pointer;
}

.large-logo-container {
    display: none;
}

.large-screen-logo {
    display: none;
}

.menu-modal-option svg {
    margin-left: 20px;
    margin-right: 10px;
}

.menu-modal-options-header {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px;
    color: #828FA3;
    width: 240px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 45px;
    margin-left: 20px;
    text-transform: uppercase;
}

.dark-light-toggle-container {
    width: 235px;
    height: 48px;
    background-color: #F4F7FD;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.dark-light-toggle-svg {
    height: 20px;
    width: 20px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #635FC7;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:hover {
    transition: none;
    opacity: .5;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #635FC7;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #635FC7;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .hide-sidebar-btn {
    border: none;
    border-radius: 0px 100px 100px 0px;
    width: 240px;;
    height: 48px;
    color: #828FA3;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    bottom: 30px;
    display: none;
  }

  .hide-sidebar-btn svg {
    margin-right: 15px;
  }

  .hide-sidebar-btn:hover {
    color: #635FC7;
    background-color: rgba(99, 95, 199, .1);
  }

  .show-sidebar-btn  {
    border: none;
    border-radius: 0px 100px 100px 0px;
    width: 56px;;
    height: 48px;
    color: white;
    background-color: #635FC7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: fixed;
    bottom: 30px;
    display: none;
    z-index: 1000;
  }

  .show-sidebar-btn:hover {
    cursor: pointer;
    background-color: rgba(168, 164, 255, 1);
    color: white;
  }

/* //// Header add task and three dot menu styling //// */

.add-task-btn {
    width: 48px;
    height: 32px;
    border-radius: 20px;
    border: none;
    background-color: #635FC7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 6px;
    font-size: 20px;
    color: white; 
}

.add-task-btn-large-text {
    display: none;
}

.three-dot-menu-header {
    width: 3.692px;
    height: 16px;
    margin-left: 13px;
}

.three-dot-menu-header:hover {
    cursor: pointer;
}

.add-task-btn:hover {
    cursor: pointer;
    background-color: #A8A4FF;
}

/* /////////////////////////////////////////////////////////////// */
/* ///////////////////// Board Styling /////////////////////////// */
/* /////////////////////////////////////////////////////////////// */

.empty-board-message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
    height: 100%;
    padding: 40px;
    position: absolute;
}

.empty-board-message {
    font-size: 18px;
    text-align: center;
    color: #828FA3;
    font-weight: 700;
    font-style: normal;
}

.empty-board-add-column-btn {
    width: 174px;
    height: 48px;
    border: none;
    border-radius: 30px;
    background-color: #635FC7;
    color: white;
}

.empty-board-add-column-btn:hover {
    cursor: pointer;
    background-color: #A8A4FF;
}

/* ///// Task stlying ////// */

.task-columns-container {
    padding-top: 94px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    gap: 25px;
    background-color: #F4F7FD;
    overflow-x: auto;
    min-height: 100vh;
    overflow-y: hidden;
}

.task-column {
    min-width: 280px;
}

.task-container {
    width: 280px;
    height: fit-content;
    min-height: 88px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px 0px rgba(54, 78, 126, 0.10);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
}

.task-title {
    font-size: 15px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
}

.task-subtask-title {
    font-size: 12px;
    color: #828FA3
}

.task-container:hover {
    cursor: pointer;
    color: #635FC7;
}

.column-title-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.column-title {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px;
    color: #828FA3;
    text-transform: uppercase;
}

.column-title-circle {
    height: 15px;
    width: 20px;
    max-width: 15px;
    max-height: 14px;
    background-color: #49C4E5;
    border-radius: 100px;
    margin-right: 10px;
}

.task-title:hover {
    pointer-events: none;
}

.task-subtask-title:hover {
    pointer-events: none;
}

.add-new-column-btn {
    min-width: 280px;
    background: linear-gradient(180deg, #E9EFFA 0%, rgba(233, 239, 250, 0.50) 100%);
    border: none;
    border-radius: 5px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #828FA3;
    margin-bottom: 1%;
}

.add-new-column-btn:hover {
    color: #635FC7;
}

/* ///////////////////////////////////////////////////////////// */
/* /////////////// Shared Modal Styling /////////////////////// */
/* //////////////////////////////////////////////////////////// */

.modal-page-cover {
    background-color: black;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    position: fixed;
    opacity: .5;
}

.desc-box {
    max-width: 100%;
    min-width: 100%;
    min-height: 112px;
    max-height: 200px;
}

.modal-content {
    width: 93%;
    height: fit-content;
    background-color: white;
    position: fixed;
    z-index: 1001;
    border-radius: 8px;
    padding: 20px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    max-width: 480px;
}

.select-menu {
    height: 40px;
    border: 1px solid rgba(130, 143, 163, 0.25);
    padding-left: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml,<svg width="10" height="7" xmlns="http://www.w3.org/2000/svg"><path stroke="%23635FC7" stroke-width="2" fill="none" d="m1 1 4 4 4-4"/></svg>');
    background-repeat: no-repeat;
    background-position:  96%;
}

.select-menu:hover {
    cursor: pointer;
    border: 1px solid #635FC7;
}

.text-box-normal {
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(130, 143, 163, 0.25);
    padding: 12px;
    margin-bottom: 24px;
}

.text-box-normal:hover {
    cursor: pointer;
    border: 1px solid #635FC7;
}

.text-box-large {
    height: 112px;
    border-radius: 4px;
    border: 1px solid rgba(130, 143, 163, 0.25);
    padding: 12px;
    margin-bottom: 24px;
}

.text-box-large:hover {
    cursor: pointer;
    border: 1px solid #635FC7;
}

.subtask-input {
    height: 40px;
    width: 94%;
    border-radius: 4px;
    border: 1px solid rgba(130, 143, 163, 0.25);
    padding: 12px;
}

.subtask-input:hover {
    cursor: pointer;
    border: 1px solid #635FC7;
}

.modal-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.modal-input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subtask-delete-btn-img {
    width: 14.849px;
    height: 14.849px;
    filter: invert(54%) sepia(17%) saturate(378%) hue-rotate(177deg) brightness(100%) contrast(86%)
}

.subtask-delete-btn-img:hover {
   filter: invert(42%) sepia(52%) saturate(4945%) hue-rotate(335deg) brightness(110%) contrast(193%);
} 

.subtask-delete-btn-img:hover {
    cursor: pointer;
}

.modal-label {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color:  #828FA3;
}

.input-with-x-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.modal-add-new-btn {
    border-radius: 20px;
    background: rgba(99, 95, 199, 0.10);
    height: 40px;
    border: none;
    color: #635FC7;
    font-size: 13px;
    margin-bottom: 20px;
    font-weight: 700;
}

.modal-add-new-btn:hover {
    background: rgba(99, 95, 199, 0.25);
}

.modal-final-btn {
    border-radius: 20px;
    background: #635FC7;
    height: 40px;
    color: white;
    width: 100%;
    border: none;
    margin-top: 10px;
}

.modal-final-btn:hover {
    background-color: #A8A4FF;
}

.delete-edit-btns-container {
    display: flex;
    flex-direction: column;
}

.delete-btn {
    border-radius: 20px;
    background: #EA5555;
    height: 40px;
    border: none;
    color: white;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 15px;
}

.delete-btn:hover {
    background-color: #FF9898
}

.cancel-btn {
    border-radius: 20px;
    background: rgba(99, 95, 199, 0.10);
    height: 40px;
    border: none;
    color: #635FC7;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
}

.cancel-btn:hover {
    background: rgba(99, 95, 199, 0.25);
}

.delete-text {
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    color: #828FA3;
    margin-bottom: 20px;
}

.delete-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #EA5555;
    margin-bottom: 20px;
}

/* ////////////////////////////////////////////////////////// */
/* ///// Edit Delete Pop Up Modal Styling ///////////// */
/* ///////////////////////////////////////////////////////// */

.choose-edit-delete-modal {
    background-color: white;
    width: 192px;
    height: 94px;
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    box-shadow: 0px 10px 20px 0px rgba(54, 78, 126, 0.25);
    border-radius: 8px;
}

.edit-delete-board-modal {
    top: 55px;
    right: 20px;
    position: fixed;
}

.edit-delete-task-modal {
    top: 60px;
    right: -60px;
}

.edit-choice {
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    color: #828FA3;
}

.edit-choice:hover {
    cursor: pointer;
}

.delete-choice {
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px; 
    color: #EA5555;
}

.delete-choice:hover {
    cursor: pointer;
}

/* ////////////////////////////////////////////////////////// */
/* /////////////// Edit Task Modal Styling ////////////////// */
/* ///////////////////////////////////////////////////////// */

.view-task-modal {
    display: flex;
    justify-content: center;
}

.view-task-three-dots-svg {
    height: 40px;
    width: 18px;
    padding: 11px 7px 11px 7px;
}

.view-task-three-dots-svg:hover {
    cursor: pointer;
}

.task-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.view-task-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.task-description {
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px; 
    color: #828FA3;
    margin-bottom: 20px;
}

.subtask-title {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #828FA3;
    margin-bottom: 12px;
}

.subtask-container {
    display: flex;
    flex-direction: column;
}

.subtask {
    background-color: #F4F7FD ;
    width: 100%;
    height: 59px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.subtask:hover {
    background-color: rgba(99, 95, 199, .4);
    cursor: pointer;
}

.subtask-checkbox {
    width: 20px;
    height: 20px;
    border: none;
    padding-right: 100px;
}

.subtask-checkbox:hover {
    cursor: pointer;
}

.subtask-label {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 15px;
}

.subtask-checkbox:checked + .subtask-label {
    text-decoration: line-through;
    opacity: 0.5;
}

.subtask-checkbox:checked {
    accent-color: #635FC7;
}

.current-status-container {
    display: flex;
    flex-direction: column;
}

.current-status-label {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #828FA3;
    margin-bottom: 6px;
}

.current-status-select {
    padding-left: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.current-status-select:hover {
    cursor: pointer;
    border: 1px solid #635FC7;
}

/* ////////////////////////////////////////////////////////// */
/* /////////////// Add Task Modal Styling ////////////////// */
/* ///////////////////////////////////////////////////////// */

.add-task-modal {
    display: flex;
    justify-content: center;
}

/* ////////////////////////////////////////////////////////// */
/* /////////////// Add Board Modal Styling ////////////////// */
/* ///////////////////////////////////////////////////////// */

.add-board-modal {
    display: flex;
    justify-content: center;
}

/* ////////////////////////////////////////////////////////// */
/* /////////////// Add Board Modal Styling ////////////////// */
/* ///////////////////////////////////////////////////////// */

.edit-board-modal {
    display: flex;
    justify-content: center;
}

/* ////////////////////////////////////////////////////////// */
/* /////////////// Delete Board Modal Styling ////////////////// */
/* ///////////////////////////////////////////////////////// */

.delete-board-modal {
    display: flex;
    justify-content: center;
}

.delete-modal-content {
    display: flex;
    flex-direction: column;
}

/* ////////////////////////////////////////////////////////// */
/* /////////////// Delete Task Modal Styling ////////////////// */
/* ///////////////////////////////////////////////////////// */

.delete-task-modal {
    display: flex;
    justify-content: center;
}

/* ////////////////////////////////////////////////////////// */
/* ///////////////////////// Dark Mode ////////////////// */
/* ///////////////////////////////////////////////////////// */

.text-color-white {
    color: white;
}

.very-dark-grey-background {
    background-color: #20212C;
}

.dark-grey-background {
    background-color: #2B2C37;
}

.add-new-column-btn-dark-mode {
    background: linear-gradient(180deg, rgba(43, 44, 55, 0.25) 0%, rgba(43, 44, 55, 0.13) 100%);
}

.white-background-hover:hover {
    color: #635FC7;
    background-color: white;
}

/* ////////////////////////////////////////////////////////// */
/* ///////////////////////// Media Queries ////////////////// */
/* ///////////////////////////////////////////////////////// */

@media (min-width: 750px) {
    .add-task-btn {
        border-radius: 50px;
        font-size: 15px;
        padding-top: 5px;
        width: 164px;
        height: 48px;
        margin-right: 12px;
    }

    .add-task-btn-small-text  {
        display: none;
    }

    .add-task-btn-large-text {
        display: inline-block;
    }

    .task-columns-container {
        padding-top: 120px;
        padding-left: 25px;
    }

    .dropdown-menu-text {
        font-size: 24px;
        margin-left: 25px;
    }

   .header-container {
        border-bottom: 1px solid #E4EBFA;
        height: 96px;
   }

    .header-inner-container {
        flex-grow: 1;
    }

    .three-dot-menu-header {
        margin-right: 10px;
        height: 40px;
        width: 30px;
        padding: 8px 12px 8px 12px
    }

    .flex-left {
        display: flex;
        justify-content: flex-start;
    }

    .flex-right {
        display: flex;
        justify-content: flex-end;
    }

    .empty-board-menu-open {
        margin-left: 260px;
        width: calc(100% - 260px);
    }

    .menu-open {
        margin-left: 260px;
    }

    .dropdown-menu:hover {
        cursor: initial;
    }

    .delete-edit-btns-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
    }

    .edit-delete-board-modal {
        top: 80px;
    }

    .delete-btn {
        width: 100%;
    }

    .cancel-btn {
        width: 100%;
    }

    .large-logo-container {
        height: 96px;
        width: 260px;
        margin-top: -13px;
        margin-left: -13px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
        border-right: 1px solid #E4EBFA;
    }

    .large-screen-logo {
        width: 152.528px;
        height: 25.224px;
        display: inline-block;
    }

    .dropdown-menu-arrow {
        width: 8px;
        display: none;
    }

    .hide-sidebar-btn {
        display: flex;
    }

    .show-sidebar-btn {
        display: flex;
    }

    .mobile-svg-logo {
        display: none;
    }

    .menu-modal {
        display: flex;
        justify-content: center;
    }
    
    .menu-modal-content {
        border-right: 1px solid #F4F7FD;
        width: 260px;
        top: 0px;
        border-radius: 0px;
        left: 0px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 96px;
        border-right: 1px solid #E4EBFA;
        padding-bottom: 70px;
        position: fixed;
    }
     
    .menu-modal-page-cover {
        display: none;
    }
    
    .menu-modal-options-container {
        padding-right: 20px;
    }
    
    .menu-modal-option {
        width: 240px;
        height: 48px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 15px;
        color: #828FA3
    }

}